pkgbase = mingw-w64-x86_64-dart
	pkgdesc = CLI tool for downloading Dart SDK and Flutter release info from Google Cloud Storage
	pkgver = 0.1.3
	pkgrel = 4
	url = https://github.com/BlobyCZ/mingw64_dart
	arch = x86_64
	license = MIT
	makedepends = curl
	depends = mingw-w64-x86_64-curl
	depends = mingw-w64-x86_64-gcc-libs

pkgname = mingw-w64-x86_64-dart
