pkgbase = mingw-w64-capnproto
	pkgdesc = Cap'n Proto serialization/RPC system
	pkgver = 0.7.0
	pkgrel = 1
	url = https://capnproto.org/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = mingw-w64-configure
	options = !strip
	options = !buildflags
	options = staticlibs
	source = https://capnproto.org/capnproto-c++-0.7.0.tar.gz
	sha512sums = 9f8fb5753155798fcf9377a87f984a54d9fc5157c41aa11cd94108a773ca22d6e6952657e2d8079c9806f7de06f316c94957329fa52dbab6207aaa3b52348f04

pkgname = mingw-w64-capnproto

