# Declare files that always have LF line endings on checkout
* text eol=lf

# Denote all files that are truly binary and should not be modified
*.bz2 binary
*.gz binary
*.xz binary
*.exe binary
*.dll binary
*.lzma binary
*.tgz binary
*.zip binary
*.rar binary
*.lib binary
*.a binary