# Declare files that always have LF line endings on checkout
* text eol=lf

# Denote all files that are truly binary and should not be modified
*.7z binary
*.a binary
*.bz2 binary
*.dll binary
*.exe binary
*.gz binary
*.lib binary
*.lzma binary
*.msi binary
*.rar binary
*.so  binary
*.tar binary
*.tgz binary
*.xz binary
*.zip binary