STRINGTABLE
BEGIN
	0 "APP_ID=GitForWindows.Bash ALLOC_CONSOLE=1 usr\\bin\\mintty.exe --nodaemon -o AppID=GitForWindows.Bash -o AppLaunchCmd=""@@EXEPATH@@\\git-bash.exe"" -o AppName=""Git Bash"" -i ""@@EXEPATH@@\\git-bash.exe"" --store-taskbar-properties -- /usr/bin/bash --login -i"
	1 "SHOW_CONSOLE=1 APPEND_QUOTE=1 @@COMSPEC@@ /S /C """"@@EXEPATH@@\\usr\\bin\\bash.exe"" --login -i"
END

MAINICON ICON "git-for-windows.ico"
