STRINGTABLE
BEGIN
#ifdef _WIN64
	0 "usr\\bin\\mintty.exe -i /mingw64/share/git/git-for-windows.ico /usr/bin/bash --login -i"
#else
	0 "usr\\bin\\mintty.exe -i /mingw32/share/git/git-for-windows.ico /usr/bin/bash --login -i"
#endif
	1 "@@COMSPEC@@ /C ""@@EXEPATH@@\\usr\\bin\\bash.exe"" --login -i"
END

"MAINICON" ICON "git-for-windows.ico"
