STRINGTABLE
BEGIN
#ifdef _WIN64
	0 "APP_ID=GitForWindows.Bash ALLOC_CONSOLE=1 usr\\bin\\mintty.exe -o AppID=GitForWindows.Bash -o RelaunchCommand=""@@EXEPATH@@\\git-bash.exe"" -o RelaunchDisplayName=""Git Bash"" -i /mingw64/share/git/git-for-windows.ico /usr/bin/bash --login -i"
#else
	0 "APP_ID=GitForWindows.Bash ALLOC_CONSOLE=1 usr\\bin\\mintty.exe -o AppID=GitForWindows.Bash -o RelaunchCommand=""@@EXEPATH@@\\git-bash.exe"" -o RelaunchDisplayName=""Git Bash"" -i /mingw32/share/git/git-for-windows.ico /usr/bin/bash --login -i"
#endif
	1 "SHOW_CONSOLE=1 @@COMSPEC@@ /C ""@@EXEPATH@@\\usr\\bin\\bash.exe"" --login -i"
END

"MAINICON" ICON "git-for-windows.ico"
