0004-fix-build-with-openpgl-0.6.patch
0010-llvm-no-longer-needed.patch
0012-fix-build-with-OSL-1.13.patch
0017-fix-build-with-python-3.12.patch
0018-fix-work-with-openvdb-11.patch
0021-fix-build-with-openvdb-12.patch
