name: main

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - msystem: MINGW64
            msystem_lower: mingw64
            arch: x86_64
          - msystem: MINGW32
            msystem_lower: mingw32
            arch: i686
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          install: git base-devel mingw-w64-${{ matrix.arch }}-toolchain
          update: true

      - name: CI-Build
        run: MINGW_INSTALLS=${{ matrix.msystem_lower }} ./ci-build.sh
